body
  background-color: white
  width: 100%

.break
  clear: both
  
.content-container
  margin: 0 auto
  position: relative
  max-width: 960px
  width: 80%

.separator
  height: 0px
  border-top: 1px solid #8A8A8A
  border-bottom: 1px solid #B3B3B3
  margin: 20px 0px 
