.index
  h2
    color: #333
    font-family: "Georgia", serif
    margin: 60px 0 15px 0
  .post-overview
    border: 1px solid #ddd 
    font-family: "Georgia", serif
    height: 5em
    margin-top: -1px
    h1
      color: black
      font-size: 18pt
      margin: 0
      padding-top: 18px
      padding-left: 35px
    p
      color: #aaa
      font-size: 12pt
      margin: 0
      padding-left: 35px

  //added through javacript
  .dark-background
    background-color: black
    h1
      color: white
    a
      color: white
    p
      color: gray
