.post

  margin-bottom: 20px
  font-family: "Baskerville", Georgia, Times, serif

  .post-header
    -webkit-font-smoothing: antialiased
    text-align: center 
    h1
      font-size: 24pt
      color: black
      margin: 40px 0px 0px 0px
    p
      font-size: 13pt
      color: #888
      margin: 0

  .separator
    height: 0px
    border-top: 1px solid #8A8A8A
    border-bottom: 1px solid #B3B3B3
    margin: 20px 0px 
  hr
    display: none

  h1, h2, h3, h4, h5, h6
    font-weight: 600
    color: #111
  p
    font-weight: 400
    color: #222
    font-size: 13pt

