/*
 * This file defines style variables used throught
 * the project.
 * Keep it small.
 */ 


$font-family: "Baskerville", Georgia, Times, serif

/* h1 is 2pt smaller than h1 and so on */
$h1-size: 40pt
$p-size: 18pt

$headers-color: #000
$p-color: #333


