.header
  .right-menu
    .icons
      %span.icon-home
      %span.icon-caret-down
    #dropdown{:style=>"display: all;"}
      %ul
        %li
          %a{:href => url('#')} Link1
        %li
          %a{:href => url('#')} Link2
        %li
          %a{:href => url('#')} Link3
        %li
          %a{:href => url('#')} Link4
  .center
    %a{:href => "/"}
      %img{:src => "/assets/logo.png"}
    %p Blossome Blog
